*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    /* outline: 2px solid red; */
    
}


body{
    height: 100vh;
    background-color: fuchsia;

}

h1{
    font-size: 1.5em;
}