*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    }

    header {
        position: fixed;
        width: 100%;
        top: 0;
        
    }

    .head-sect {
        display: flex;
        justify-content: center;
        gap: 700px;
        background-color: #FFFFFF;
        
        
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
        font-size: 1.4em;
        color: #0a0236;
    }

    .beyond {
        border: 2px solid red;
      background-image: url(/IMAGES/Graduating-img-SQI.png);


        background-size: cover;background-position: center;
        background-repeat: no-repeat;

        height: 100vh;



        display: flex;
        color: white;
        padding-top: 200px;
        padding-left: 100px;
        
    }


    h1 {
        font-size: 4em;
    }

    .beyond p {
        font-size: 1.6em;
    }

   .boton {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 0;
   }


 .right-div {
    display: flex;
    justify-content:center ;
    margin-top: 350px;
    margin-left: 300px;

 }

.one{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px; width: 400px;
    background-color: #B1CCDD;
    border: 2px solid black;
    border-top-left-radius: 30px;

}

.two{
     display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px; width: 400px;
    background-color: black;
    border: 2px solid white;
}


.parent {
    
}











    /* CLASS WORK */


   
    .first {
        display: flex;
        align-items: center;
       flex-direction: column;
       margin-top: 100px;
    }
    p {
        font-size: 1.2em;
    }

    .courses {
        margin: auto;
        display: flex;
        justify-content: center;
        gap: 50px;
        align-items: center;
        border: 30px solid thick black;
        padding: 50px 0px; 
           
    }

    .crd-one {
        border: 2px solid black;
        border-radius: 10px;
       

    }

    .crd-two {
        border: 2px solid black;
        border-radius: 10px;
       
    }

    .crd-three {
        border: 2px solid black;
        border-radius: 10px;
        
    }

    h2 {
        font-size: 3em;
    }

    h3{
        color: #000793;
        padding: 0px 18px;
    }
    .crd-one p {
        padding: 10px 18px;
    }

    .crd-two p {
        padding: 0px 18px;
    }

    .crd-three p {
        padding: 0px 18px;
    }




    /* section 2 */

    .why {
        background-color: #000059;
        display: flex;
        justify-content: space-around;
        gap: 0px;
        padding: 100px 30px;
        
        
    }

    .yellow {
        background-color: #E09900;
        display: flex;
        flex-direction: column;
        padding: 35px;
        color: white;
        font-size: 1.4em;
        }
    

    .skills {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        font-size: 1.4em;
    }

    h4 {
        color: white;
    }
    h2 {
       font-size: 2em; 
    }

    .skills p {
        color: white;
    }


